[user]
    name = Your Name
    email = your.email@example.com

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    lg = log --graph --pretty=format:'%C(yellow)%h%C(reset) - %C(cyan)%an%C(reset) %C(magenta)%d%C(reset)%n%C(red)%s%C(reset) %C(bold green)(%ar)%C(reset)' --abbrev-commit --date=relative
    amend = commit --amend --no-edit
    unstage = reset HEAD --
    last = log -1 HEAD
    diffc = diff --cached
    cp = cherry-pick
    rb = rebase

[core]
    editor = vim
    pager = less
    excludesfile = ~/.gitignore_global

[merge]
    tool = meld
    conflictstyle = diff3

[diff]
    tool = meld

[push]
    default = simple

[status]
    showUntrackedFiles = all

[pull]
    rebase = false

[rebase]
    autoSquash = true

[credential]
    helper = cache
    # To use a credential manager on Windows, uncomment the following line:
    # helper = manager

[init]
    defaultBranch = master
